.bookDetail-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookDetail-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 700px;
}

.close-btn {
  background-color: white;
  color: red;
  font-size: 18px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  left: 96%;
}

.close-btn:hover {
  background-color: red;
  color: white;
}

.bookDetail-updateBtn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 9px;
  height: 35px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.bookDetail-updateBtn:hover {
  background-color: #218838;
}

.bookDetail-removeBtn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 25px;
  height: 35px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.bookDetail-removeBtn:hover {
  background-color: #218838;
}